<launch>

  <arg name="model" default="$(find xacro)/xacro --inorder '$(find followbot_mechanum)/urdf/followbot.urdf.xacro'" />
  <param name="robot_description" command="$(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!-- publish  TF that contains joint's pose inform  -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <include file="$(find followbot_mechanum)/launch/leg_tracker.launch"/>
  <include file="$(find followbot_mechanum)/launch/move_base.launch"/>

  <!-- Arguments -->
  <arg name="person_name" default="taeyang"/>

  <arg name="open_rviz" default="true"/>
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find followbot_mechanum)/rviz/followbot_mechanum_2.rviz"/>
  </group>

  <include file="$(find openpose_ros)/launch/openpose_ros.launch"/>

  <node name="throttle_1" pkg="topic_tools" type="throttle" args="messages /camera/color/image_raw 60" />
  <node name="throttle_2" pkg="topic_tools" type="throttle" args="messages /camera/depth/image_rect_raw 60" />
  <node name="throttle_3" pkg="topic_tools" type="throttle" args="messages /people_tracked 2" />

</launch>
