<launch>

  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find followbot_mechanum)/maps/map.yaml"/>

  <!-- Run AMCL -->
  <include file="$(find followbot_mechanum)/launch/followbot_amcl2.launch"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find followbot_mechanum)/nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find followbot_mechanum)/nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find followbot_mechanum)/nav/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find followbot_mechanum)/nav/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find followbot_mechanum)/nav/base_local_planner_params.yaml" command="load" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <!--param name="controller_frequency" value="10.0" /-->
    <param name="recovery_behavior_enabled" value="False" />
  </node>

</launch>
